<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop     http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
	http://www.springframework.org/schema/tx      http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!-- TransactionInterceptor -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!-- NameMatchTransactionAttributeSource -->
			<tx:method name="load*" read-only="true" propagation="REQUIRED"/>
			<tx:method name="update*" rollback-for="Exception" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>

	<!-- AspectJAwareAdvisorAutoProxyCreator -->
	<aop:config>
		<!-- AspectJExpressionPointcut -->
		<aop:pointcut id="txPoint"   expression="execution(* com.web.app.service..*.*(..))" />
		<!-- DefaultBeanFactoryPointcutAdvisor -->
		<aop:advisor  id="txAdvisor" pointcut-ref="txPoint" advice-ref="txAdvice"/>
	</aop:config>
	
	<!-- 注解扫描 -->
	<context:component-scan base-package="com.web.app">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
</beans>